.PropTable {
  border: 1px solid #999;
  color: #333;
  font-family: monospace;
  border-collapse:collapse;
  font-size: 1.5em;
  text-align: left;
}

.PropTable thead {
  font-style: italic;
  font-size: 0.85em;
}

.PropTable th {
  background-color: #eee;
}

.PropTable th,
.PropTable td {
  border: 0.05em solid #999;
  min-width: 1em;
  padding: 0.4em;
}
